#files
token.txt
/telegram_bot/words.txt
/scripts/users.json
/scripts/config.yml
/scripts/stat.png
/scripts/dicks_sizes.csv
/scripts/ecosystem.config.js

#folders
/telegram_bot/test.js
/.idea/
/telegram_bot/node_modules/
/botik
/*/.venv/

